*{
  margin:0;
  padding: 0;
}

a {
  text-decoration: none;
}

html, body {
  height: 100vh;
  background-color: #F9F4EE;
}

#wrapper {
  width: 100%;
  position:relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 10vh;
  background-color: #F9F4EE;
}

.folders {
  width: 100vw;
  background-color: #F9F4EE;
}

.folder-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F9F4EE;
  padding: 3vh 20vw 0 12vw;
}

.book-lists {
  margin-top: 10px;
}

.folder-lists>.lists {
  width: 20vh;
  text-align: center;
  padding: 5vh 1vw 0;
  margin: 0 0 25vh;
}

.folder-lists>.first {
  background-color: #F9F4EE;
  text-align: center;
  padding: 3vh 0;
}

.folder-img {
  position: relative;
}

.record-title-text {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #2B2D2D;
  font-size: 27px;
}

.folder-name {
  position: absolute;
  top: 247%;
  left: 145%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: #272727;
}

.name {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 10px 0;
  font-size: 24px;
  color: #000000;
}

.create_folder-img {
  width: 230px;
  height: 230px;
  border-radius: 9%;
  object-fit: cover;
}


.first-info {
  background-color: #F9F4EE;
  color: #000000;
  padding: 1vw;
}

.introduction {
  font-size: 2.3vh;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.first-info-icon {
  margin: 4vh 0 0;
}

.create-btn {
  top: 88px;
  right: 163px;
  position: fixed;
}

.create-btn-icon {
  width: 120px;
  height: 120px;
}
