
.top-page-header {
  width: 50vw;
  padding: 2vh 15vw;
  display: flex;
}

.top-page-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 75px;
  font-family: 'Caveat', cursive;
}

/* リンク先の色指定 */
a {
  color: #272727;
}
