<%# CSS・・・assets/stylesheets/shared/header.css %>

<header class='top-page-header'>
<%# google fonts htmlにstyleのリンクを貼り付けてcssにfont familyを貼り付ける %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
</style>
  <div class='top-page-contents'>
    <%= link_to 'Your records', "/" %>
  </div>
</header>