*{
  margin:0;
  padding: 0;
}

a {
  text-decoration: none;
}

#wrapper {
  width: 100%;
  position:relative;
}

.folder-contents {
  width: 100vw;
  background-color: #F9F4EE;
  color: #2B2D2D;
  padding: 3vh 0 0;
  display: flex;
  justify-content: space-around;
  border-top: #2B2D2D solid 1px;
  border-bottom: #2B2D2D solid 1px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.folder-img-content {
  position: relative;
  left: 12%;
}

.record-folder-name {
  position: absolute;
  top: 53%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: #272727;
  text-align: center;
  font-size: 22px;
}

.folder-img {
  width: 140px;
  height: 111px;
  border-radius: 9%;
  object-fit: cover; 
}

.edit-content {
  margin: 7vh;
}

.record-first-info {
  font-size: 2.3vh;
  color: #2B2D2D;
  text-align: center;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 1vh 14vw 0;
}

.record-first-info-icon {
  margin: 4vh 0;
}

.info-text {
  width: 45vw;
  margin: 4vh 0;
}

.record-contents {
  width: 100vw;
  background-color: #F9F4EE;
  background-image:
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px),
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 25px 25px, 25px 25px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  border:#ccc 1px solid;
}

.record-lists {
  display: flex;            /* ブロックレベル要素を横並びにする。指定された要素の子要素が横並びになる */
  flex-wrap: wrap;          /* 折り返しの指定 */
  padding: 3vh 10vw 7vh;
}

.record-lists>.list {
  width: 22vw;
  margin: 3vh 1vw;
  padding: 2vh;
}

.record-c {
  text-align: center;
}

.record-title {
  margin: 0;
  padding: 0;
  color: #272727;
}

.record-item-img {
  object-fit: cover;         /* （画像や動画）を歪みなく表示する。だたし設定した枠外はトリミングされる */
}
.edit-pencil {
  font-size: 27px;
}