/* 商品の概要 */

.item-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  background-color: #F9F4EE;
}

.item-box {
  width: 70vw;
  padding: 0 15vw 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F4EE;
}

.item-box-img {
  display: block;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.item-edit {
  text-align: center;
  background: #eee;
  border: 3px solid #eee;
  color: #000000;
  width: 495px;
  height: 30px;
  margin: 6vh 0 0 0;
  font-size: 20px;
  border-radius: 20px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 10px;
}

.item-destroy {
  text-align: center;
  background: lightgray;
  border: 3px solid lightgray;
  color: #000000;
  width: 495px;
  height: 30px;
  margin: 3vh 0 0 0;
  font-size: 20px;
  border-radius: 20px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 10px;
}

.item-explain-box {
  margin: 40px 0px;
  text-align: center;
  font-family: 'Caveat', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

.item-explain-title,
.item-explain-caption {
  font-size: 20px;
  color: #2B2D2D;
  border-bottom: #000000 1px solid;
}

.item-title {
  padding: 3vh 2vw;
  font-size: x-large;
  font-weight: 500;
}

.item-caption {
  padding: 3vh 2vw;
  font-size: 20px;
}

